body {
	font-size: 1rem;
/*	background-color: #1E90FF;*/
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #1E90FF, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #1E90FF, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #1E90FF, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #1E90FF, #FFF); /* Standard syntax (must be last) */
	min-height: 2500px;
	/*font-family: 'Raleway', sans-serif;*/
	/*    font-family: 'Courgette', cursive;*/
	/*    font-family: 'Space Mono', monospace;*/
}

.nav-style-position {
	height: 12rem;
    height: inherit;
}

.logo-link {
	/*    margin-bottom: 1rem;*/
	margin-top: .02rem;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Courgette', cursive;
	font-size: 3.5rem;
}

.main-content {
	height: inherit;
	width: 100%;
}

.btn-round-lg {
	border-radius: 22.5px;
}

.btn-round {
	border-radius: 40px;
	padding-top: 5px;
}

.btn-round-sm {
	border-radius: 15px;
}

.btn-round-xs {
	border-radius: 11px;
	padding-left: 10px;
	padding-right: 10px;
}

.main-nav-links {
	color: #ffffff !important;
}

.pill-placement-style {
	margin-top: 0rem;
}


/*.side-link-style  {
    margin-top: 4rem;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color:white;
}*/

.indivisual-links {
	margin-right: 2rem;
	border-radius: 40px;
}

.game-banner {}

.home-banner {
	background-size: cover repeat;
	background-image: url(../img/memphis-colorful.png);
	width: 100%;
	height: 55rem;
	margin-top: -13rem;
	margin-bottom: auto;
}

.home-banner-add {
	background-size: cover repeat;
	background-image: url(../img/memphis-colorful.png);
	width: 100%;
	height: 55rem;
	margin-top: -13rem;
	margin-bottom: 5rem;
}

.center-buttons {
	align-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.header-text {
	text-align: center;
	margin-top: 20rem;
	margin-bottom: 2rem;
	font-family: 'Raleway', sans-serif;
}

#game-app {
	width: 100%;
	height: inherit;
	margin-top: auto;
}

.game-instructions {
	margin-top: 2rem;
	text-align: center;
	height: inherit;
	margin-bottom: auto;
}

.game-definition {
	/*    margin-top: 9rem;*/
	text-align: center;
	margin-bottom: 15rem;
	margin-top: 5rem;
}

.game-head-buttons {
	margin-bottom: 2rem;
	margin-right: 2rem;
}

.game-area {}


/*-------------------------------------------------*/

.alphabet-cards {
	width: ;
	height: 20rem;
	text-align: center;
	border-radius: 6px;
	margin-bottom: 8rem;
}

.alphabet-card {
	width: 100%;
	height: 27rem;
	background-color: #ffffff;
	text-align: center;
	border-radius: 6px;
	margin-bottom: 2rem;
}

.card-play-row {
	margin-bottom: 10rem;
}

.front-letter-style {
	font-family: 'Space Mono', monospace;
	font-size: 13rem;
	color: #777777;
}

.col-md-4 {}

.row {}


/*------------------------------------------------------------ icons for cards with all the colors --------------------------------------------------------------------------------------*/

.apple {
	color: red;
    font-size: 8rem;
}

.ball {
	color: purple;
    font-size: 8rem;
}

.car {
	color: darkblue;
    font-size: 8rem;
}

.diamond {
	color: #222;
    font-size: 8rem;
}

.envelope {
	color: slateblue;
    font-size: 8rem;
}

.film {
	color: #333333;
    font-size: 8rem;
}

.game {
	color: green;
    font-size: 8rem;
}

.heart {
	color: crimson;
    font-size: 8rem;
}

.card-person {
	color: fuchsia;
    font-size: 8rem;
}

.jet {
	color: darkslategrey;
    font-size: 8rem;
}

.key {
	color: orangered;
    font-size: 8rem;
}

.lock {
	color: blue;
    font-size: 8rem;
}

.magic {
	color: black;
    font-size: 8rem;
}

.news {
	color: mediumslateblue;
    font-size: 8rem;
}

.opera {
	color: maroon;
    font-size: 8rem;
}

.pencil {
	color: saddlebrown;
    font-size: 8rem;
}

.question {
	color: seagreen;
    font-size: 8rem;
}

.qual {
    align-content: center;
    width: 60px;
    
}

.rocket {
	color: orangered;
    font-size: 8rem;
}

.star {
	color: darkslateblue;
    font-size: 8rem;
}

.time {
	color: black;
    font-size: 8rem;
}

.umbrella {
	color: rebeccapurple;
    font-size: 8rem;
}

.volume {
	color: mediumvioletred;
    font-size: 8rem;
}

.window {
	color: darkslategrey;
    font-size: 8rem;
}

.xerox {
	color: grey;
    font-size: 8rem;
}

.yellow {
	color: darkorange;
    font-size: 8rem;
}

.zebra {
	align-content: center;
    width: 60px;
}

/* Adding card CSS goes here*/

.adding-cards {
    
    margin-top: 5rem;
    padding-top: 5rem;
/*    margin-right: 3rem;*/
    margin-left:1rem;
}

.add-card-styles {
/*    margin-right: 1rem;*/
    height: 15rem;

}

.add-game {
    
    height: inherit;
}

input {
    height: 6rem;;
    
}


.qty {
    
}